#wrapper,
main,
#content,
aside,
section{
	@include box;
}
.layout {
	@include box;
	width: 1074px;
	margin:0 auto;
}
h1{
	text-indent: -9999px;
}
#content #link-cat a{
	width: 219px;
	height: 59px;
	position: relative;
	display: block;
	margin: 50px 852px 100px 841px;
	&:before{
		content: '';
		position: absolute;
		top: -8px;
		right: -8px;
		width: 219px;
		height: 59px;
		border: 1px solid $green;
		z-index: 1;
	}
	span{
		@include candara;
		display: block;
		overflow: hidden;
		width: 219px;
		height: 59px;
		background-color: $green;
		text-align: center;
		line-height: 59px;
		border: 1px solid $green;
		color: $white; 
		position: relative;
		z-index: 2;
		top: 0;
		right: 0;
		-webkit-transition: all 200ms ease-in-out;
		-moz-transition: all 200ms ease-in-out;
		-ms-transition: all 200ms ease-in-out;
		-o-transition: all 200ms ease-in-out;
		transition: all 200ms ease-in-out;
	}
	&:hover{
		span{
			position: absolute;
			top: -7px;
			right: -7px;
		}
	}
}