.first-view{
	position: relative;
	display: block;
	overflow: hidden;
	width: 100%;
	height: calc(100vh - 155px);
	.holder{
		position: absolute;
		display: block;
		overflow: hidden;
		width: 100%;
		height: calc(100vh - 155px);
		top: 0;
		right: 0;
		z-index: 1;
		img{
			@include img;
			width: 1123px;
			float: right;
 			}
		}
  .txt-fv{
	@include box;
	  padding: 75px 0 0 0;
	  z-index: 2;
		h2{
		  @include poiret-one;
		  width: 600px; /*800px font*/
		  height: 210px;
		  display: block;
		  overflow: hidden;
		}
		p{
			@include candara;
			width: 490px;
			height: 192px;
			display: block;
			overflow: hidden;
			margin: 92px 0 0 0;
		  }
		a{
			width: 219px;
			height: 59px;
			position: relative;
			display: block;
			margin: 92px 0 0 0;
			&:before{
				content: '';
				position: absolute;
				top: -8px;
				right: -8px;
				width: 219px;
				height: 59px;
				border: 1px solid $green;
				z-index: 1;
			}
			span{
				@include candara;
				display: block;
				overflow: hidden;
				width: 219px;
				height: 59px;
				background-color: $green;
				text-align: center;
				line-height: 59px;
				border: 1px solid $green;
				color: $white; 
				position: relative;
				z-index: 2;
				top: 0;
				right: 0;
				-webkit-transition: all 200ms ease-in-out;
				-moz-transition: all 200ms ease-in-out;
				-ms-transition: all 200ms ease-in-out;
				-o-transition: all 200ms ease-in-out;
				transition: all 200ms ease-in-out;
			}
			&:hover{
				span{
					position: absolute;
					top: -7px;
					right: -7px;
				}
			}
		}
	}
	.arrow-pageup{
		display: block;
		position: absolute;
		overflow: hidden;
		width: 50px;
		height: 50px;
		top: 116px;
		left: 1510px;
		z-index: 100;
			a{
			display: block;
			position: relative;
			overflow: hidden;
				img{
				@include img;
		  	}
	  	}
	}
}