header{
	height: 155px;
	.logo{
	  float: left;
	  height: 144px;
	  width: 246px;
	  margin: 11px 57px 0 0;
	  a{
		 display: block;
		 overflow: hidden;
		 height: 144px;
		 width: 246px;
		 img{
			 @include img
		   }
	   }
	}
  }
nav{
	float: left;
	margin: 67px 0 0 0;
	.links{
		float: left;
		padding: 0 16px 0 16px;
		border-bottom: 1px solid $green;
		/* margin: 0 57px 0 0; */
		margin: 0 47px 0 0;
		li{
			float: left;
			margin: 0 25px 0 0;
			a{
				@include candara
			  }
			&:last-child{
				 margin: 0 0 0 0;
			   }
		  }
	  }
	  .icons{
		  float: right;
		  margin: -2px 0 0 0;
		  li{
			  float: left;
			  margin: 0 20px 0 0;
			  a{
				  display: block;
				  width: 36px;
				  height: 36px;
				  img{
					  @include img
					}
				}
				&:last-child{
				   margin: 0 0 0 0;
				 }
			}
		}
  }